# =====================================================
# VIVERE PLATFORM – IDENTITY SERVICE
# =====================================================

NODE_ENV=development
SERVICE_NAME=identity-service
PORT=3000
ENABLE_JSON_LOGS=false

DATABASE_HOST=identity-db
DATABASE_PORT=5432
DATABASE_NAME=identity_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public
DATABASE_URL_LOCAL=postgresql://postgres:postgres@localhost:5434/identity_db?schema=public

DB_WAIT_TIMEOUT=60
RUN_MIGRATIONS=true
RUN_POST_SQL=true