# =====================================================
# VIVERE PLATFORM – SERVICE ORDER SERVICE
# =====================================================

NODE_ENV=development
SERVICE_NAME=service-order-service
PORT=3000
ENABLE_JSON_LOGS=false

DATABASE_HOST=service-order-db
DATABASE_PORT=5432
DATABASE_NAME=service_order_db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public
DATABASE_URL_LOCAL=postgresql://postgres:postgres@localhost:5436/service_order_db?schema=public

DB_WAIT_TIMEOUT=60
RUN_MIGRATIONS=true
RUN_POST_SQL=true